{% extends 'base.html.twig' %}

{% block title %}Emmaüs Connect | Ajouter un téléphone
{% endblock %}

{% block body %}
	<main class="container mt-4 pt-4">
		<div class="card bg-light  bg-light rounded-1 rounded-bottom-5 rounded-start-1 m-5 p-5">
		<h1 class="fw-bold text-uppercase d-flex mb-2 h2 mt-3 mb-5 pb-2">Ajouter un téléphone</h1>
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<div class="d-flex justify-content-end">
				<button class="btn btn-dark text-uppercase p-2 mt-5 px-4 btn col-btn-sm rounded-5 d-grid">{{ button_label|default('Sauvegarder') }}</button>
			</div>
			{{ form_end(form) }}
		</div>
	</main>
{% endblock %}
