.nav-link {
    color: $dark;
}

.logo-nav {
    width: 150px;
    height: auto;
}

.logo-nav-res {
    width: 40px;
    height: auto;
}

nav {
    font-family: $font-family-base;
    font-weight: bold;
    font-size: $font-size-nav;
    color: $light;
}

.navbar {
    --bs-navbar-toggler-border-color: $light;
}

.nav-link:hover {
    border-bottom: 3px solid $light;
    transition: all 0.1s;
}