  @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700;800;900&display=swap');

  $primary: #ca2020;
  $secondary: #138522;
  $light: #fffdf4;
  $background: repeating-linear-gradient(90deg, hsla(112, 98%, 100%, 0.05) 0px, hsla(112, 98%, 100%, 0.05) 1px, transparent 1px, transparent 11px, hsla(112, 98%, 100%, 0.05) 11px, hsla(112, 98%, 100%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(90deg, hsla(112, 98%, 100%, 0.05) 0px, hsla(112, 98%, 100%, 0.05) 1px, transparent 1px, transparent 11px, hsla(112, 98%, 100%, 0.05) 11px, hsla(112, 98%, 100%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(0deg, hsla(112, 98%, 100%, 0.05) 0px, hsla(112, 98%, 100%, 0.05) 1px, transparent 1px, transparent 11px, hsla(112, 98%, 100%, 0.05) 11px, hsla(112, 98%, 100%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(90deg, hsla(112, 98%, 100%, 0.05) 0px, hsla(112, 98%, 100%, 0.05) 1px, transparent 1px, transparent 11px, hsla(112, 98%, 100%, 0.05) 11px, hsla(112, 98%, 100%, 0.05) 12px, transparent 12px, transparent 32px), linear-gradient(90deg, rgb(255, 226, 243), rgb(255, 255, 255));
  $dark: #1D1D1F;
  $font-family-base: "Barlow";
  $font-size-nav: 20px;

  $bs-dropdown-link-hover-bg: transparent;
  $bs-dropdown-link-hover-color: transparent;

  .dropdown-item:hover, .dropdown-item:focus {
    color: transparent; 
    background-color: transparent;
}




  body {
    margin: 0;
    background-color: rgb(30, 165, 82);
    color: black;
  }

  .card {
    background-image: linear-gradient(315deg, rgb(249, 169, 250), rgb(174, 173, 238), rgb(197, 247, 255), rgb(212, 154, 232));
  }

  .button {
    background-image: linear-gradient(315deg, rgb(249, 169, 250), rgb(174, 173, 238), rgb(197, 247, 255), rgb(212, 154, 232));
  }



  .imgcircle {
    height: 50px;
    width: auto;
  }

  .imgcard {
    height: 200px;
    width: auto;
  }

  .imgtriplestars {
    height: 150px;
    width: auto;
  }

  .notreStockTitle {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 2.3rem;
  }
