<nav class="navbar navbar-expand-lg bg-dark">
	<div class="container fluid">
		<button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand mx-3" href="{{ path('home_')}}">
			<img class="logo-nav img-fluid d-none d-md-block" src=" {{ asset('build/images/Logo_EC_light.png') }} " alt="Logo Emmaüs Connect">
		</a>
		<ul class="navbar-nav order-md-2">
			<li class="nav-link dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					{% include 'icons/profil.svg' %}
				</a>
				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item text-uppercase text-light" href="#">Profil</a>
					</li>
					{% if app.user %}
						<li>
							<a class="dropdown-item mx-3 text-decoration-none text-light" href="#">DÉCONNEXION</a>
						</li>
					{% else %}
						<li>
							<a class="dropdown-item mx-3 text-decoration-none text-light" href="#">CONNEXION</a>
						</li>
					{% endif %}
				</ul>
			</li>
		</ul>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link mx-3 text-uppercase text-light" href="#">Zzzzz</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-3 text-uppercase text-light" href="#">Zzzzz</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-3 text-uppercase text-light" href="#">Zzzzz</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-3 text-uppercase text-light" href="#">Zzzzz</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
